USE [NHS]
GO
/****** Object:  Table [Stage].[ReferenceCCGCodesAndCCGNames]    Script Date: 15/01/2018 17:38:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Stage].[ReferenceCCGCodesAndCCGNames](
	[CCGCode] [nvarchar](3) NULL,
	[CCGName] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Stage].[ReferenceTrustCodesAndTrustNames]    Script Date: 15/01/2018 17:38:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Stage].[ReferenceTrustCodesAndTrustNames](
	[Code] [nvarchar](5) NULL,
	[Organisation] [nvarchar](100) NULL
) ON [PRIMARY]
GO
INSERT [Stage].[ReferenceCCGCodesAndCCGNames] ([CCGCode], [CCGName]) VALUES (N'00C', N'NHS Darlington CCG')
INSERT [Stage].[ReferenceCCGCodesAndCCGNames] ([CCGCode], [CCGName]) VALUES (N'00D', N'NHS Durham Dales, Easington and Sedgefield CCG')
INSERT [Stage].[ReferenceCCGCodesAndCCGNames] ([CCGCode], [CCGName]) VALUES (N'00F', N'NHS Gateshead CCG')
GO
INSERT [Stage].[ReferenceTrustCodesAndTrustNames] ([Code], [Organisation]) VALUES (N'RY6', N'LEEDS COMMUNITY HEALTHCARE NHS TRUST')
INSERT [Stage].[ReferenceTrustCodesAndTrustNames] ([Code], [Organisation]) VALUES (N'RY7', N'WIRRAL COMMUNITY NHS TRUST')
INSERT [Stage].[ReferenceTrustCodesAndTrustNames] ([Code], [Organisation]) VALUES (N'RY8', N'DERBYSHIRE COMMUNITY HEALTH SERVICES NHS TRUST')
GO
